body {
    background-color: #1c1c1c;
    font-family: "Work Sans", sans-serif;
}

h2 {
    font-size: 50px;
}

h3 {
    font-size: 40px;
}

h4 {
    font-size: 35px;
}

p {
    font-size: 22px;
}

.main-container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}

.game-container {
    width: 100%;
}

.game-info {
    color: #ffed4f;
    text-transform: uppercase;
    font-weight: 600;
    display: flex;
    justify-content: center;
    letter-spacing: 1px;
}

.stats {
    margin: 0 20px 40px;
}

.stats h4 span {
    color: white;
    margin-left: 5px;
}

.word-container {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.guess, .correct-guess {
    width: 90px;
    border-radius: 10px;
    margin: 0px 8px;
}

.guess {
    height: 100px;
    background-color: #434343;
}

.correct-guess {
    background-color:#ffed4f;
    color: #1c1c1c;
    height: 92px;
    box-shadow: 0px 8px #e3be24;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-transform: uppercase;
    margin-bottom: 8px;
}

.instructions {
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 0 20px 20px;
}

.wrong-letters {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 10%;
}

.letter  {
    color: #081a27;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    margin: 10px 10px 15px 10px;
    border-radius: 10px;
    position: relative;
    box-shadow: 0px 8px #e0e0e0;
    text-transform: uppercase;
}

.letter h3, .correct-guess h2 {
    font-weight: 700;
}

@media screen and (max-width: 850px) {
    .guess, .correct-guess {
        width: 80px;
        margin: 0px 5px;
    }
    .guess {
        height: 90px;
    }
    .correct-guess {
        height: 82px;
        box-shadow: 0px 8px #e3be24;
        margin-bottom: 8px;
    }
}

@media screen and (max-width: 680px) {
    h2 {
        font-size: 42px;
    }
    h3 {
        font-size: 33px;
    }
    h4 {
        font-size: 31px;
    }
    .guess, .correct-guess {
        width: 70px;
    }
    .guess {
        height: 80px;
    }
    .correct-guess {
        height: 72px;
    }
    .letter {
        width: 60px;
        height: 60px;
        margin: 10px 5px 15px;
    }
}

@media screen and (max-width: 560px) {
    h2 {
        font-size: 36px;
    }
    h3 {
        font-size: 31px;
    }
    h4 {
        font-size: 28px;
    }
    p {
        font-size: 21px;
    }
    .guess, .correct-guess {
        width: 60px;
        border-radius: 6px;
    }
    .guess {
        height: 70px;
    }
    .correct-guess {
        height: 62px;
    }
    .letter {
        border-radius: 6px;
        width: 55px;
        height: 55px;
    }
}

@media screen and (max-width: 515px) {
    .stats h4 {
        text-align: center;
    }
    .stats h4 span {
        margin: 0;
        font-size: 37px;
        line-height: 42px;
    }
    .guess, .correct-guess {
        margin: 0 4px;
    }
    .correct-guess {
        margin-bottom: 8px;
    }
}

@media screen and (max-width: 450px) {
    .instructions p {
        line-height: 24px;
    }
    .guess, .correct-guess {
        width: 55px;
        margin: 0 4px;
    }
    .correct-guess {
        margin-bottom: 8px;
    }
}